<div class="home">
    <div class ='intro-generate'>
        <h2>Dashboard</h2>
    </div>
    <div class = 'content'>
        <p> Welcome <%= user.fullname %></p>
        <p> Username : <%= user.username %></p>
        <p> Email : <%= user.email %></p>
    </div>
    <div class = 'content'>
        <p>Click on Accounts to store your data.</p>
    </div>
    <div class = 'content'>
        <p>Press on Create Passwords to generate and customize a new password.</p>
    </div>
</div>

