<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitsafe - Password Manager - register</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/form.css">
        <script src="/js/landing.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M3WSQCMSDD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M3WSQCMSDD');
</script>
    </head>
<body>
  <body>
    <div class = "page-wrapper">
      <div class = "menu-wrapper"> 
        <header class = "menu">
          <div>
            <img src="/img/undraw_safe_bnk7.svg" alt="">
            <h1><a href="/">BitSafe</a></h1>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label for="menu-btn"><span class="navicon"></span></label>
        <div class="menu-mobile">
            <a href="/users/login">Login</a>
        </div>
          
      </header>
    </div>
        <main  id = 'main-content'class = fade-in>
          <div class = login>
            <div class = login-container>
              <div class = "logo">
                <div>
                  <h1>Register</a></h1>
                  <p>Create your account and join us today !</p>
                  <%- include ('./partials/messages') %>
                </div>
              </div>
              <form action="/users/register" method="post" autocomplete="off">
                  <div class="form-container">
                    <input type="text" maxlength="250" autofocus = "" placeholder="Full name*" name="fullname" required>
                    <input type="text" maxlength="250" placeholder="Username*" name="username" required>
                    <input type="text" maxlength="250" placeholder="Email*" name="email" required>
                    <input type="password" maxlength="250" placeholder="Master Password*" name="password" required>
                    <input type="password" maxlength="250" placeholder="Confirm Master Password*" name="password2" required>
                    <button type="submit">Register</button>
                  </div>
                  <div class="register-container" >
                    <p>Already have an account ? <a href="/users/login">Login</a></p>
                  </div>
                </form>
            </div>
            
          </div>
      </main>
    </div>
    
  </body>
